<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海贼王剧集目录</title>
    <link rel="icon" href="assets/onepiece.ico" sizes="128x128">
    <link rel="stylesheet" href="assets/onepiece.css" type="text/css"/>
    <meta name="description" content="这是一个海贼王剧场版+特别篇+剧集播放信息的仓库，每日自动从TMDB获取最新信息。">
</head>
<body>
<div class="page" lang="zh-CN">
    <header class="post-header">
        <div class="post-title">
            <span class="post-title-bt bt3">海贼王剧集目录</span>
        </div>
        <div class="post-toc selected"><span class="post-toc-bt bt1"><a href="index.html">剧场版</a></span><span class="post-toc-bt bt2">共${MOVIE_COUNT}部</span>&nbsp;</div>${IMG_TOC_LIST}
    </header>
    <div class="img-card-list movie">
        ${IMG_CARD_LIST}
    </div>
</div>
</body>
</html>