.page {
    width: 60%;
    margin: 0 auto;
}

a {
    text-decoration: none
}

.post-header, .post-toc-bt a {
    color: #EEEEEE;
}

.post-header {
    text-align: center;
    margin: 10px;
    font-size: 1.4em;
}


.post-title {
    padding: 10px;
}

.post-title-bt {
    padding: 5px;
    background-color: #112D4E;
    border-radius: 2px;
}

.post-toc {
    display: inline-block;
    font-size: 0.5em;
}

.post-toc-bt {
    float: left;
    padding: 5px;
}

.bt1 {
    background-color: #6f42c1;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.bt2 {
    background-color: #5cb85c;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.selected .bt1 {
    background-color: #d9534f;
}

.selected .bt2 {
    background-color: #0f0f0f;
}

.img-card-list:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.media {
    width: 100%;
    height: 127px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow: hidden;
}


.media-cover {
    border-radius: 2px;
    width: 277px;
    height: 127px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.media-meta {
    width: calc(100% - 277px);
    height: 100%;
    float: left;
    position: relative;
}

.media-meta-item {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: .8em;
    line-height: 1.8em;
}

.media-meta-item.title {
    font-weight: bold;
    font-size: .85em;
}

.media-meta-item.intro {
    text-align: justify;
    font-size: 0.7em;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.media-meta-item .author {
    opacity: .65;
    width: 1.8em
}

.media-meta-item .star-score {
    color: #b96c68;
    height: 0;
    display: inline;
    float: right;
    position: relative;
}

.media-meta-item .grey-star {
    color: lightgrey;
}

.movie .media {
    width: 100%;
    height: 150px;
    float: left;
    margin-bottom: 1em;
    box-sizing: border-box;
    overflow: hidden;
}

.movie .media-cover {
    width: 100px;
    height: 150px;
}

.movie .media-meta {
    width: calc(100% - 100px);
    height: 100%;
}